.container {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.card {
  background-color: wheat;
  width: '10vw';
  margin: 5vw;
}

.container-data {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2{
    size: 10px;
    color: black;
  }
  h3 {
    size: 8px;
    color: black;
  }
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 40px;
}

input {
  margin-right: 30px;
}

.show-data{
  display: flex;
  flex-direction: row;
}

.cat-data{
  display: flex;
  flex-direction: column;
}
.app{
  min-height: 100vh;
  background-color: grey;
  background-size:  100% 100%;
}
